$primary-color: #1F6FEB;
$primary-contrast-color: #FFF;

$secondary-color: #238636;

$success-color: #3FB950;

$error-color: #F85149;

$background-color: #0D1117;
$secondary-background-color: #161B22;

$user-list-background: #21262D;
$user-list-hover: #30363D;
$user-list-selected: #1F6FEB;
$text-color: #C9D1D9;
$secondary-text-color: #8B949E;
$border-color: #30363D;
$divider-color: #444C56;
$link-color: #58A6FF;
$hover-button-color: #1C7ED6;
$active-button-color: #34D058;