@import 'variables';

.sessionUrl {
  display: flex;
  align-items: center;
  color: $primary-contrast-color;
  border-radius: 5px;
  background-color: $secondary-background-color;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  margin-bottom: 6rem;

  h4 {
    font-weight: normal;
  }

  button {
    margin-left: 2rem;
  }
}

.pageWrapper {
  display: flex;
  gap: 2rem;
}
